:root{
    --color-1: #292526;
    --color-2: #787676;
    --color-3: #a3a1a2;
    --color-4: #f2f2f2;
    --color-5: #121111;
    --ratio: 3.74;
    --cta-color: rgb(0, 102, 254);
    --light-color-bg: rgb(238, 241, 247);
    --dark-color-bg: rgb(55, 65, 81);
    --grey-color: rgb(107, 114, 128);
    --leading: 0.025em;
    --color-6: #dfdede;
    --color-7: #f6f6f6;
    --color-8: #fdfdfd;


}

@font-face {
    font-family: "EncodeSans-Black";
    src: url(../storage/font/Encode_Sans/static/EncodeSans-Black.ttf);
  }
  
  @font-face {
    font-family: "EncodeSans-Bold";
    src: url(../storage/font/Encode_Sans/static/EncodeSans-Bold.ttf);
  }
  
  @font-face {
    font-family:"EncodeSans-ExtraBold";
    src: url(../storage/font/Encode_Sans/static/EncodeSans-ExtraBold.ttf);
  }
  
  @font-face {
    font-family: "EncodeSans-ExtraLight";
    src: url(../storage/font/Encode_Sans/static/EncodeSans-ExtraLight.ttf);
  }
  
  @font-face {
    font-family: "EncodeSans-Light";
    src: url(../storage/font/Encode_Sans/static/EncodeSans-Light.ttf);
  }
  
  @font-face {
    font-family: "EncodeSans-Medium";
    src: url(../storage/font/Encode_Sans/static/EncodeSans-Medium.ttf);
  }
  @font-face {
    font-family: "EncodeSans-Regular";
    src: url(../storage/font/Encode_Sans/static/EncodeSans-Regular.ttf);
  }
  
  @font-face {
    font-family: "EncodeSans-SemiBold";
    src: url(../storage/font/Encode_Sans/static/EncodeSans-SemiBold.ttf);
  }
