<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <div class="checkout-container">
        <div class="header">
            <a href="/views/detail3.html"><img src="../storage/img/Type=outline, Library=arrow-left.png" alt="Back" class="back-icon"></a>
            <span>Checkout</span>
            <img src="../storage/img/Type=outline, Library=menu.png" alt="Menu" class="menu-icon">
        </div>

        <div class="cart-item">
            <img src="../storage/img/example2.png" alt="Product">
            <div class="item-info">
                <strong>Modern light clothes</strong>
                <div class="parrafo">
                    <p>Dress modern</p>
                </div>
                <div class="parrafo2">
                    <p>$212.99</p>
                </div>
            </div>
            <div class="quantity-controls">
                <button>-</button>
                <span>4</span>
                <button>+</button>
            </div>
        </div>
        <hr class="separator">

        <div class="cart-item2">
            <img src="../storage/img/example1.png" alt="Product">
            <div class="item-info">
                <strong>Modern light clothes</strong>
                <div class="parrafo">
                    <p>Dress modern</p>
                </div>
                <div class="parrafo2">
                    <p>$162.99</p>
                </div>
            </div>
            <div class="quantity-controls">
                <button>-</button>
                <span>1</span>
                <button>+</button>
            </div>
        </div>
        <hr class="separator">

        <div class="payment-title">
            <strong>Shipping Information</strong>
        </div>
        <div class="payment-info">
            <div class="payment-card">
                <img src="../storage/img/Type=default, Category=linear, Library=card.png" alt="Visa Logo" class="visa-logo">
                <p>**** **** **** 2143</p>
                <img src="../storage/img/Type=outline, Library=arrow-down.png" alt="Visa Logo" class="flecha">
            </div>
        </div>

        <div class="total">Total (9 items) <strong>$1,014.95</strong></div>
        <div class="total">Shipping Fee <strong>$0.00</strong></div>
        <div class="total">Discount <strong>$0.00</strong></div>
        <div class="total">Sub Total <strong>$1,014.95</strong></div>
        <!-- Importar SweetAlert2 desde CDN -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Importar tu script -->
        <button class="pay-button">Pay</button>
        <script src="../js/Components/button.js"></script>
    </div>
</body>
</html>
