<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
        <div class="image-container">
            <img src="../storage/img/example2.png" alt="Producto" class="product-image">
            <img src="../storage/img/Type=outline, Library=arrow-left.png" alt="Volver" class="back-icon">
            <img src="../storage/img/favorite-icon.png" alt="Favorito" class="favorite-icon">
        </div>
        <div class="details-container">
            <div class="product-details">
                <div class="title">
                    <h1 class="product-title">Light Dress Bless</h1>
                    <div class="rating">
                        <img src="../storage/img/Type=default, Category=linear, Library=star.png" alt="Estrella" class="star-icon">
                        <span>5.0</span>
                        <a href="#" class="reviews">(7,932 reviews)</a>
                    </div>                    
                </div>
                <div class="number">
                    <button class="quantity-btn">-</button>
                    <span class="quantity">1</span>
                    <button class="quantity-btn">+</button>
                </div>
            </div>
            <p class="description">Its simple and elegant shape makes it perfect for <br>
                those of you who like you who want minimalist <br>
                clothes <a href="#">Read More...</a></p>
                <div style="width: calc(100% - 50px); height: 1px; background-color: var(--color-7); margin: 16px 24px auto;"></div>
            <div class="options">
                <div class="sizes">
                    <label>Choose Size</label>
                    <div class="size-options">
                        <button>S</button>
                        <button>M</button>
                        <button>L</button>
                        <button>XL</button>
                    </div>
                </div>
                <div class="colors">
                    <label>Color</label>
                    <div class="color-options">
                        <span class="color black"></span>
                        <span class="color gray"></span>
                        <span class="color dark-gray"></span>
                    </div>
                </div>
            </div>
            <div class="cart-container">

                <button class="add-to-cart">Add to Cart | <span class="price">$162.99</span> <span class="old-price">$199.99</span></button>
            </div>
        </div>

</body>
</html>
