<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="welcome">
        <div class="title">
            <h5>Hello, Welcome 👋</h5>
            <h1>Albert Stevano</h1>
        </div>
        <img src="../storage/img/Profile.png">
    </div>
    <div class="search-box">
        <div class="row">
            <input type="text" class="search-bar"
            placeholder="Search for a country..."
            autocomplete="off"
            >
            <button>
                <!--svg-->
            </button>
        </div>
        <div class="results"></div>
    </div>
    <script src="../js/Components/search.js"></script>
    
</body>
</html>