<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="welcome">
        <div class="title">
            <h5>Hello, Welcome 👋</h5>
            <h1>Albert Stevano</h1>
        </div>
        <img src="../storage/img/Profile.png">
    </div>
    <div class="buscar">
        <div class="search-box">
            <div class="row">
                <button class="search-btn">
                    <img src="../storage/img/search-normal.png">
                </button>
                <input type="text" class="search-bar"
                    placeholder="Search clothes. . . "
                    autocomplete="off">
            </div>
            <div class="results"></div>
        </div>
        <button class="filter">
            <img src="../storage/img/Filter.png">
        </button>
    </div>
    <script src="../js/Components/search.js"></script>
    <div class="filter-container">
        <button class="filter-item"><img src="../storage/img/Type=Default, Category=linear, Library=category.png"> All Items</button>
        <button class="filter-item"><img src="../storage/img/Type=Default, Category=linear, Library=dress.png"> Dress</button>
        <button class="filter-item"><img src="../storage/img/Type=Default, Category=linear, Library=tshirt.png" alt=""> T-Shirt</button>
        <button class="filter-item"><img src="../storage/img/Type=Default, Category=linear, Library=jeans.png" alt=""> Pants</button>
    </div>
    <script src="../js/Components/filter-container.js"></script>
    <div class="main">
        <div class="left">
            <a href="views/detail1.html" class="c1">
                <img class="img1" src="../storage/img/example1.png">
                <img class="imagen-superpuesta" src="../storage/img/heart.png">
                <h1>Modern Light Clothes</h1>
                <h5>T-Shirt</h5>
                <div class="precio">
                    <h3>$212.99</h3>
                    <div class="calificacion">
                        <img src="../storage/img/Type=default, Category=linear, Library=star.png">
                        <h6>5.0</h6>
                    </div>
                </div>
            </a>
            <a href="views/detail3.html" class="c2">
                <img class="img2"src="../storage/img/example3.png">
                <img  class="imagen-superpuesta" src="../storage/img/heart.png">
                <h1>Modern Light Clothes</h1>
                <h5>T-Shirt</h5>
                <div class="precio">
                    <h3>$212.99</h3>
                    <div class="calificacion">
                        <img src="../storage/img/Type=default, Category=linear, Library=star.png">
                        <h6>5.0</h6>
                     </div>
                </div>
            </a>
        </div>
        <div class="right">
            <a href="views/detail2.html" class="c3">
                <img class="img1" src="../storage/img/example2.png">
                <img class="imagen-superpuesta" src="../storage/img/heart.png">
                <h1>Light Dress Bless</h1>
                <h5>Dress modern</h5>
                <div class="precio">
                    <h3>$162.99</h3>
                    <div class="calificacion">
                        <img src="../storage/img/Type=default, Category=linear, Library=star.png">
                        <h6>5.0</h6>
                    </div>
                </div>
            </a>
            <a href="views/detail4.html" class="c4">
                <img class="img2" src="../storage/img/example4.png">
                <img class="imagen-superpuesta" src="../storage/img/heart.png">
                <h1>Light Dress Bless</h1>
                <h5>Dress modern</h5>
                <div class="precio">
                    <h3>$162.99</h3>
                    <div class="calificacion">
                        <img src="../storage/img/Type=default, Category=linear, Library=star.png">
                        <h6>5.0</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="footer-container">
            <footer class="select">
                <img src="../storage/img/Home.png">
                <img src="../storage/img/Cart.png">
                <img src="../storage/img/Favourite.png">
                <img src="../storage/img/Account.png">
            </footer>
        </div>
    </div>
    
</body>
</html>